
<div *ngIf="station">
    <h2><span jhiTranslate="dhsKnowledgeManagementApp.station.detail.title">Station</span> {{station.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dhsKnowledgeManagementApp.station.name">Name</span></dt>
        <dd>
            <span>{{station.name}}</span>
        </dd>
        <dt><span jhiTranslate="dhsKnowledgeManagementApp.station.county">County</span></dt>
        <dd>
            <span>{{station.county}}</span>
        </dd>
        <dt><span jhiTranslate="dhsKnowledgeManagementApp.station.article">Article</span></dt>
        <dd>
            <span *ngFor="let article of station.articles; let last = last">
                <a [routerLink]="['/article', article?.id ]">{{article.title}}</a><br/><!--{{last ? '' : ', '}}-->
            </span>
        </dd>
        <dt><span jhiTranslate="dhsKnowledgeManagementApp.station.engine">Engine</span></dt>
        <dd>
            <span *ngFor="let engine of station.engines; let last = last">
                <a [routerLink]="['/engine', engine?.id ]">{{engine.number}} ({{engine.status}})</a><br/><!--{{last ? '' : ', '}}-->
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'station/'+ station.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
