<div class="footer">
    <div>
        <a href="#">Back to Top </a>| <a href="http://www.ca.gov/use.html" target="_blank">Conditions of Use</a> | <a href="http://www.calfire.ca.gov/about/about_privacypolicystatement.php">Privacy Policy</a> | <a href="http://www.calfire.ca.gov/contacts/index.php">Contact Us </a>| <a href="http://www.calfire.ca.gov/about/about_sitemap.php">Site Map</a> | <a href="http://www.calfire.ca.gov/web-accessibility">Accessibility Tools</a></div>
    <div>
        Copyright &copy; 2012 State of California
    </div>
</div>
