<div class="card text-white bg-info">
    <div class="card-header">
        <div class="row">

            <div class="col col-xs-9 text-right">

                <div class="d-block">{{label}}</div>
            </div>
        </div>
    </div>
    <div *ngFor="let engine of engines ; trackBy: trackId">
        <div class="card-footer bg-{{getClass(engine.status)}}">
            <i class="fa {{getIcon(engine.status)}} fa-2x"></i>
            <span class="float-right">{{engine.number}}</span>

        </div>
    </div>
</div>