<div class="row">
    <div class="col-md-3">
        <span class="calfire img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome to CalFire Knowledge Management System</h1>
        <!-- <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p> -->

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>


            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">To begin, click </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
            <div  *ngSwitchCase="true">
            <hr>
            <h2>
                <span>Magnet Board</span>
            </h2>
            <div class="row">
                <div class="col-xl-3 col-lg-6" *ngFor="let station of stations ;trackBy: getStationId">
                    <jhi-app-stat [bgClass]="'secondary'" [icon]="'fa-comments'" [stationId]=station.id [label]=station.name [engines]=station.engines></jhi-app-stat>
                </div>

            </div>
            <hr />

            <hr>
            <h2>
                <span>Scorecard</span>
            </h2>
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <jhi-app-stat [bgClass]="'info'" [icon]="'fa-comments'" [label]=getTotalStations()></jhi-app-stat>
                </div>


                <div class="col-xl-3 col-lg-6">
                    <jhi-app-stat [bgClass]="'info'" [icon]="'fa-comments'" [label]=getTotalEngines()></jhi-app-stat>
                </div>




                <div class="col-xl-3 col-lg-6">
                    <jhi-app-stat [bgClass]="'info'" [icon]="'fa-comments'" [label]=getTotalArticles()></jhi-app-stat>
                </div>




                <div class="col-xl-3 col-lg-6">
                    <jhi-app-stat [bgClass]="'info'" [icon]="'fa-comments'" [label]=getTotalTags()></jhi-app-stat>
                </div>

            </div>
            <hr />

            <hr>
            <div style="width: 100%;" *ngIf="isDataAvailable">


                <canvas baseChart [chartType]="'bar'" [datasets]="finalChartData" [labels]="distinctTags" [options]="chartOptions" [legend]="true"
                    (chartClick)="onChartClick($event)">
                </canvas>


            </div>
            <hr/>

            </div>



        </div>